$white: #efd3d3;

@mixin detail-title {
  padding: 18px 0;
  font-size: 14px;
}

.detail {
  &__header {
    position: relative;
    height: 216px;
    background: #cc7073;
    overflow: hidden;
  }
  &__button {
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;

    &__star,
    &__heart {
      display: inline-block;
      margin-right: 5px;
      width: 14px;
      height: 14px;
      background-size: 100% 100%;
    } 

    &__heart {
      background-image: url('/source/icons/heart.svg'); 
    }

    &__star {
      background-image: url('/source/icons/star.svg'); 
    }
  }
  .performer {
    padding: 0 25px;
    &-title {
      @include detail-title;
    }
    &-shell {
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      li {
        display: inline-block;
        width: 80px;
        height: 90px;
        border: 1px solid #000;
        &:nth-of-type(n + 2) {
          margin-left: 6px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }  
    }
  }
}