@import '../../mixin.scss';

.TabBar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 3px 0;
  background-color: #fff; 
  border-top: 1px solid #ddd;
  &__item {
    flex: 1;
    @include flex_center;
    flex-direction: column;
    text-decoration: none;
    cursor: none;
    color: #000;
  }
  &__icon {
    width: 22px;
    height: 22px;
    background-size: 100% 100%; 
    &.movie_icon {
      background-image: url('/source/icons/movie.png');
    }
    &.user_icon {
      background-image: url('/source/icons/user.png');
    }
  }
  &__title {
    font-size: 12px;
    line-height: 16px;
  }
  &__active {
    .movie_icon {
      background-image: url('/source/icons/movie-solid.png');
    }
    .user_icon {
      background-image: url('/source/icons/user-solid.png');
    }
    .TabBar__title {
      color: #ff4c64;
    }
  }
}