.movieList{
  position: absolute;
  top: 155px;
  bottom: 45px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: auto;
  li {
    &:nth-child(n + 2) .moveItem{
      border-top: 1px solid #dfdfdf;
    }
    list-style: none;
  }
}