$gray: #777;

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin link_decoretion {
  text-decoration: none;
  color: black;
}

@mixin dot{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}